body{
	background:#000;
	font-family: 'Helvetica', sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.tick text{
	font-family: 'Helvetica', sans-serif;
	font-size: 11px;
	fill:#fff;
}

.axistext {
	font-family: 'Helvetica', sans-serif;
	font-size: 11px;
	fill:#fff;
}

.btn{
	color:#fff;
	width:100%;
}

.btn:hover{
	color:#000;
	background:#fff;
}

.filters {
	position:absolute;
	top:20px;
	right:20px;
	border: 1px solid #fff;
	border-radius:5px;
}

.filtercontent{
	max-height:400px;
	overflow-y:scroll;
	padding:10px;
}

.nodeinfo{
	color:#fff;
	position:relative;
	padding:10px;
}